@import 'variables';

* {
  box-sizing: border-box;
}

html {
  font-size: $font-size-default;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  @include mobile {
    font-size: $font-size-default-mobile;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: $body-background-color;
}

h1 {
  font-size: 3rem;
}

h1, h2, h3, h4, ul, ol, p, figure{
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}


