$body-background-color: #FFF;
$page-padding: 15px;
$max-page-width: 1200px;
$header-link-color: rgba(96, 96, 101, 1);
$header-height: 80px;

$font-size-small: 0.833rem;
$font-size-default: 12px;
$font-size-default-mobile: 16px;
$font-size-large: 1.333px;

