* {
    box-sizing: border-box;
}

html {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e2e7ed;
}

h1 {
    font-size: 3rem;
}

h1, h2, h3, h4, ul, ol, p {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.page-section {
    display: flex;
    border: 1px solid red;
    max-width: 1140px;
    margin: auto;
}

.profile {
    width: 100%;
    border: 1px solid green;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    position: relative;

}

.profile__head {
    flex-grow: 0;
    flex-basis: 180px;
    background-color: #efefef;
}

.profile__avatar {
    width: 125px;
    height: 125px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid #FFF;
    overflow: hidden;
}

.profile__avatar > img {
    width: 100%;
    display: block;
}

.profile__footer {
    padding: 2rem;
    flex-grow: 0;
    flex-basis: 175px;
}

.profile__content {
    flex-grow: 1;
    position: relative;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    border-bottom: 1px solid #eeeff2;
}

.profile__name {
    font-size: 14px;
    margin-bottom: 8px;
}

.profile__position {
    font-size: 12px;
    font-weight: 200;
    color: #c0c5cd;
    margin-bottom: 25px;
}

.profile__btn {
    width: 100%;
    margin-top: 30px;
}

.statistic-list {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.statistic-list__item {
    text-align: center;
}

.statistic-list__counter {
    font-weight: bold;
    font-size: 14px;
}

.statistic-list__title {
    color: #c0c5cd;
    font-size: 14px;
    font-weight: 200;
}

.btn {
    border: none;
    padding: 1rem;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
}

.btn_success {
    background-color: #24c6a1;
    color: #FFF;
}

.btn_danger {
    background-color: #c67231;
    color: #FFF;
}

.test {
    position: relative;
    height: 500px;
    width: 100%;
}

.search-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 400px;
    display: flex;
}

.search-form__input {
    flex: 1 1 80%;
    width: 90%;
    border: none;
    background: red;
    padding: 1rem;
}

.search-form__button {
    flex: 1 1 10%;
    width: 20%;
    border: none;
    background: magenta;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
}

[class*='col-'] {
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 200px;
    border: 2px solid red;
}


@media screen and (max-width: 768px) {
    .col-sm-1 {
        flex-basis: 8.333%;
    }

    .col-sm-2 {
        flex-basis: 16.667%;
    }

    .col-sm-3 {
        flex-basis: 25%;
    }

    .col-sm-4 {
        flex-basis: 33.333%
    }


    .col-sm-5 {
        flex-basis: 33.333%
    }
}


