.grid-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}
[class*='col-'] {
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
}
.flex-grow {
    flex-grow: 1;
}
.flex-container > [class*='col-']:last-child {
    margin-right: auto;
}
.row-reverse {
    flex-direction: row-reverse;
}
.column {
    flex-direction: column;
}
.column-center {
    flex-direction: column;
    justify-content: center;
}

.col-1 {
    flex-basis: 8.333333%;
}
.col-offset-1 {
    margin-left: 8.333333%;
}
.col-2 {
    flex-basis: 16.666666%;
}
.col-offset-2 {
    margin-left: 16.666666%;
}
.col-3 {
    flex-basis: 24.999999%;
}
.col-offset-3 {
    margin-left: 24.999999%;
}
.col-4 {
    flex-basis: 33.333332%;
}
.col-offset-4 {
    margin-left: 33.333332%;
}
.col-5 {
    flex-basis: 41.666664999999995%;
}
.col-offset-5 {
    margin-left: 41.666664999999995%;
}
.col-6 {
    flex-basis: 49.999998%;
}
.col-offset-6 {
    margin-left: 49.999998%;
}
.col-7 {
    flex-basis: 58.333331%;
}
.col-offset-7 {
    margin-left: 58.333331%;
}
.col-8 {
    flex-basis: 66.666664%;
}
.col-offset-8 {
    margin-left: 66.666664%;
}
.col-9 {
    flex-basis: 74.999997%;
}
.col-offset-9 {
    margin-left: 74.999997%;
}
.col-10 {
    flex-basis: 83.33332999999999%;
}
.col-offset-10 {
    margin-left: 83.33332999999999%;
}
.col-11 {
    flex-basis: 91.666663%;
}
.col-offset-11 {
    margin-left: 91.666663%;
}
.col-12 {
    flex-basis: 99.999996%;
}
.col-offset-12 {
    margin-left: 99.999996%;
}
.hidden {
    display: none !important;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .col-sm-1 {
        flex-basis: 8.333333%;
    }
    .col-offset-sm-1 {
        margin-left: 8.333333%;
    }
    .col-sm-2 {
        flex-basis: 16.666666%;
    }
    .col-offset-sm-2 {
        margin-left: 16.666666%;
    }
    .col-sm-3 {
        flex-basis: 24.999999%;
    }
    .col-offset-sm-3 {
        margin-left: 24.999999%;
    }
    .col-sm-4 {
        flex-basis: 33.333332%;
    }
    .col-offset-sm-4 {
        margin-left: 33.333332%;
    }
    .col-sm-5 {
        flex-basis: 41.666664999999995%;
    }
    .col-offset-sm-5 {
        margin-left: 41.666664999999995%;
    }
    .col-sm-6 {
        flex-basis: 49.999998%;
    }
    .col-offset-sm-6 {
        margin-left: 49.999998%;
    }
    .col-sm-7 {
        flex-basis: 58.333331%;
    }
    .col-offset-sm-7 {
        margin-left: 58.333331%;
    }
    .col-sm-8 {
        flex-basis: 66.666664%;
    }
    .col-offset-sm-8 {
        margin-left: 66.666664%;
    }
    .col-sm-9 {
        flex-basis: 74.999997%;
    }
    .col-offset-sm-9 {
        margin-left: 74.999997%;
    }
    .col-sm-10 {
        flex-basis: 83.33332999999999%;
    }
    .col-offset-sm-10 {
        margin-left: 83.33332999999999%;
    }
    .col-sm-11 {
        flex-basis: 91.666663%;
    }
    .col-offset-sm-11 {
        margin-left: 91.666663%;
    }
    .col-sm-12 {
        flex-basis: 99.999996%;
    }
    .col-offset-sm-12 {
        margin-left: 99.999996%;
    }
    .sm-hidden {
        display: none !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .col-md-1 {
        flex-basis: 8.333333%;
    }
    .col-offset-md-1 {
        margin-left: 8.333333%;
    }
    .col-md-2 {
        flex-basis: 16.666666%;
    }
    .col-offset-md-2 {
        margin-left: 16.666666%;
    }
    .col-md-3 {
        flex-basis: 24.999999%;
    }
    .col-offset-md-3 {
        margin-left: 24.999999%;
    }
    .col-md-4 {
        flex-basis: 33.333332%;
    }
    .col-offset-md-4 {
        margin-left: 33.333332%;
    }
    .col-md-5 {
        flex-basis: 41.666664999999995%;
    }
    .col-offset-md-5 {
        margin-left: 41.666664999999995%;
    }
    .col-md-6 {
        flex-basis: 49.999998%;
    }
    .col-offset-md-6 {
        margin-left: 49.999998%;
    }
    .col-md-7 {
        flex-basis: 58.333331%;
    }
    .col-offset-md-7 {
        margin-left: 58.333331%;
    }
    .col-md-8 {
        flex-basis: 66.666664%;
    }
    .col-offset-md-8 {
        margin-left: 66.666664%;
    }
    .col-md-9 {
        flex-basis: 74.999997%;
    }
    .col-offset-md-9 {
        margin-left: 74.999997%;
    }
    .col-md-10 {
        flex-basis: 83.33332999999999%;
    }
    .col-offset-md-10 {
        margin-left: 83.33332999999999%;
    }
    .col-md-11 {
        flex-basis: 91.666663%;
    }
    .col-offset-md-11 {
        margin-left: 91.666663%;
    }
    .col-md-12 {
        flex-basis: 99.999996%;
    }
    .col-offset-md-12 {
        margin-left: 99.999996%;
    }
}
/*laptops*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .col-lg-1 {
        flex-basis: 8.333333%;
    }
    .col-offset-lg-1 {
        margin-left: 8.333333%;
    }
    .col-lg-2 {
        flex-basis: 16.666666%;
    }
    .col-offset-lg-2 {
        margin-left: 16.666666%;
    }
    .col-lg-3 {
        flex-basis: 24.999999%;
    }
    .col-offset-lg-3 {
        margin-left: 24.999999%;
    }
    .col-lg-4 {
        flex-basis: 33.333332%;
    }
    .col-offset-lg-4 {
        margin-left: 33.333332%;
    }
    .col-lg-5 {
        flex-basis: 41.666664999999995%;
    }
    .col-offset-lg-5 {
        margin-left: 41.666664999999995%;
    }
    .col-lg-6 {
        flex-basis: 49.999998%;
    }
    .col-offset-lg-6 {
        margin-left: 49.999998%;
    }
    .col-lg-7 {
        flex-basis: 58.333331%;
    }
    .col-offset-lg-7 {
        margin-left: 58.333331%;
    }
    .col-lg-8 {
        flex-basis: 66.666664%;
    }
    .col-offset-lg-8 {
        margin-left: 66.666664%;
    }
    .col-lg-9 {
        flex-basis: 74.999997%;
    }
    .col-offset-lg-9 {
        margin-left: 74.999997%;
    }
    .col-lg-10 {
        flex-basis: 83.33332999999999%;
    }
    .col-offset-lg-10 {
        margin-left: 83.33332999999999%;
    }
    .col-lg-11 {
        flex-basis: 91.666663%;
    }
    .col-offset-lg-11 {
        margin-left: 91.666663%;
    }
    .col-lg-12 {
        flex-basis: 99.999996%;
    }
    .col-offset-lg-12 {
        margin-left: 99.999996%;
    }
    .lg-hidden {
        display: none !important;
    }
}
@media screen and (min-width: 1200px) {
    .col-xl-1 {
        flex-basis: 8.333333%;
    }
    .col-offset-xl-1 {
        margin-left: 8.333333%;
    }
    .col-xl-2 {
        flex-basis: 16.666666%;
    }
    .col-offset-xl-2 {
        margin-left: 16.666666%;
    }
    .col-xl-3 {
        flex-basis: 24.999999%;
    }
    .col-offset-xl-3 {
        margin-left: 24.999999%;
    }
    .col-xl-4 {
        flex-basis: 33.333332%;
    }
    .col-offset-xl-4 {
        margin-left: 33.333332%;
    }
    .col-xl-5 {
        flex-basis: 41.666664999999995%;
    }
    .col-offset-xl-5 {
        margin-left: 41.666664999999995%;
    }
    .col-xl-6 {
        flex-basis: 49.999998%;
    }
    .col-offset-xl-6 {
        margin-left: 49.999998%;
    }
    .col-xl-7 {
        flex-basis: 58.333331%;
    }
    .col-offset-xl-7 {
        margin-left: 58.333331%;
    }
    .col-xl-8 {
        flex-basis: 66.666664%;
    }
    .col-offset-xl-8 {
        margin-left: 66.666664%;
    }
    .col-xl-9 {
        flex-basis: 74.999997%;
    }
    .col-offset-xl-9 {
        margin-left: 74.999997%;
    }
    .col-xl-10 {
        flex-basis: 83.33332999999999%;
    }
    .col-offset-xl-10 {
        margin-left: 83.33332999999999%;
    }
    .col-xl-11 {
        flex-basis: 91.666663%;
    }
    .col-offset-xl-11 {
        margin-left: 91.666663%;
    }
    .col-xl-12 {
        flex-basis: 99.999996%;
    }
    .col-offset-xl-12 {
        margin-left: 99.999996%;
    }
    .xl-hidden {
        display: none !important;
    }
}