* {
    box-sizing: border-box;
}

html {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #3be6fe;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
}

h1, h2, h3, h4, ul, ol, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.page-container {
    width: 100%;
    max-width: 1900px;
    box-shadow: 0 0 2px 2px rgba(0,0,0, .5);
    margin: 0 auto;
    min-height: 100vh;
}

.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.global-header {
    background-color: rgba(0,0,0,.9);
}

.global-nav {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
}

.global-nav__link {
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: relative;
}

.global-nav__link:nth-child(odd):hover {
    background-color: #FFF;
    color: #3be6fe;
}

.global-nav__link:nth-child(even):hover {
    background-color: #FFF;
    color: #ffa200;
}

.global-nav__block {
    display: flex;
    align-items: stretch;
}

.drop-down {
    position: relative;
    cursor: pointer;
}

.drop-down__list {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 50px;
    left: 0;
    background: #FFF;
    z-index: 1;
    list-style: none;
    min-width: 150px;
}

.drop-down:hover .drop-down__list{
    opacity: 1;
    visibility: visible;
}

.drop-down__list {
    box-shadow: 0 1px 3px 2px rgba(0,0,0,.3);
}

.drop-down__link {
    padding: 1rem;
    display: block;
}

.drop-down__link {
    color: #8f8f8f;
}

.drop-down__link:hover {
    color: #3be6fe;
}

.baner {
    background-color: #ff9b67;
    height: 40vh;
    max-height: 500px;
    min-height: 100px;
    position: relative;
}

.baner__header {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
