@import './variables';
@import './mixins';

.page-header {
  padding: 0 $page-padding;
}

.global-nav {
  @include pageWrapper;
  height: 80px;
  display: flex;
  &__control {
    display: none;
    @include tablet {
      display: inherit;
    }
  }
  &__menu {
    background: lightcoral;
    width: 60%;
    display: flex;
    justify-content: space-between;
    @include tablet {
      position: fixed;
      width: 80%;
      height: 100%;
      min-width: 280px;
      top: 0;
      left: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0,0,0,.8);
      z-index: 1;
      transform: translateX(-100%);
      transition: transform 0.5s;
    }
  }
  &__item {
    height: 100%;
    @include tablet {
      height: auto;
    }
    &_logo {
      @include tablet {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  &__link {
    height: 100%;
    display: flex;
    align-items: center;
    @include tablet {
     color: $body-background-color;
    }
  }
  &__logo {
    width: 100%;
  }

  &_opened {
    @include tablet {
      .global-nav__menu {
        transform: translateX(0);
      }
      .global-nav__control {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}