.catalog {

}

.catalog__products {
    padding: 0 15px;
}

.catalog__filters {
    background-color: yellow;
}

.catalog__item {
    padding: 15px;;
}

.product {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 300;
}

.product__details {
    margin-top: 12px;
}

.preview__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background: #33333a;
    color: #FFF;
    text-align: center;
    display: block;
    width: 180px;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

.preview {
    background-color: #F3F3F3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.preview__image {
    width: 100%;
}

.preview__overlay {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 0.3s;
}

.preview__btn {
    cursor: pointer;
}

.preview:hover .preview__overlay {
    opacity: 0.4;
    pointer-events: inherit;
    visibility: visible;
}

.preview:hover .preview__btn {
    opacity: 1;
    visibility: visible;
}


