.collections {
    height: 220px;
}

.collections__inner {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    height: 100%;
}

.collections__item {
    margin-left: 2rem;
    border-radius: 3px;
    overflow: hidden;
}

.collections__link {
    border-radius: 3px;
    width: 215px;
    display: block;
    height: 100%;
}
.collections__link > img {
    width:100%;
    display: block;
}


