.logo {
    width: 100px;
    height: 100%;
    fill: #FFF;
}

.global-header {
    background-color: rgba(0,0,0,.9);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.global-nav {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
}

.global-nav__link {
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: relative;
}

.global-nav__link:first-child {
    padding-left: 0;
}

.global-nav__link:nth-child(odd):hover {
    background-color: #FFF;
    color: #3be6fe;
}

.global-nav__link:nth-child(even):hover {
    background-color: #FFF;
    color: #ffa200;
}

.global-nav__link.global-nav__link_logo:hover {
    background-color: inherit;
}

.global-nav__block {
    display: flex;
    align-items: stretch;
}

.global-nav__link_avatar {
    padding: 0;
}

.avatar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.global-nav__link_avatar.avatar:hover {
    background-color: transparent;
    color: #FFF;
}

.avatar__image {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    overflow: hidden;
}

.avatar__counter {
    position: absolute;
    right: -7px;
    top: 5px;
    background-color: #ffa200;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
}


.avatar__image > img {
    width: 100%;
}

.drop-down {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.drop-down__list {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 50px;
    left: 0;
    background: #FFF;
    z-index: 1;
    list-style: none;
    min-width: 150px;
}

.drop-down_right .drop-down__list {
    right: 0;
    left: auto;
}

.drop-down:hover .drop-down__list{
    opacity: 1;
    visibility: visible;
}

.drop-down__list {
    box-shadow: 0 1px 3px 2px rgba(0,0,0,.3);
}

.drop-down__link {
    padding: 1rem;
    display: block;
}

.drop-down__link {
    color: #8f8f8f;
}

.drop-down__link_main {
    height: 100%;
    padding: 0 1rem;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    color: #FFF;
}
.drop-down:hover > .drop-down__link_main {
    color: #65ad00;
    background: #FFF;
}
.drop-down__link:hover {
    color: #3be6fe;
}



