.widget {
  width: 200px;
  margin: 0 auto;
}

.output {
  margin-top: 20px;
}

.btn {
  padding: 10px 5px;
  &__success {
    background-color: rgb(84, 184, 23);
    color: #FFF;
    &:active {
      background-color: rgb(117, 255, 33);
    }
  }
}

.input {
  display: flex;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
  &__native {
    flex-basis: 80%;
    border: none;
    outline: none;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
  &__control {
    border: none;
    flex-basis: 20%;
  }
  &__focus {
    border: 1px solid red;
    > .input__control {
      background: grey;
    }
  }
}